@import '../../scss/variables';

.MenuPage {
  &-container {
    // background-color: $primary;
  }

  &-header {
    // padding: 5rem 1rem;
    margin-top: 4rem;
    height: 200px;
    background-image: url(/assets/images/logo.png);
    background-color: $primary;
    background-repeat: no-repeat;
  }
}
