@import '../../scss/variables';

.MenuPage {
  &-container {
    // background-color: $primary;
  }

  &-header {
    // padding: 5rem 1rem;
    margin-top: 4rem;
    height: 200px;
    background-image: url(/assets/images/logo.png);
    background-color: $primary;
    background-repeat: no-repeat;

    &-row {
      width: 100%;
      text-align: center;
      color: $secondary;
      & strong {
        color: $secondary;
      }
    }
  }

  &-section {
    & .title {
      text-align: center;
      color: #fff;
      margin: 1rem;
      // padding: 1rem;
    }

    &-category {
      background-color: $secondary-light;
      color: $primary;

      & .title {
        color: $secondary;
        font-size: 2rem;
        text-align: left;
      }
    }
  }
}

@media screen and (min-width: 550px) {
  .MenuPage {
    &-container {
      max-width: 1100px;
      min-width: 550px;
      width: 50vw;
      margin: auto;
    }

    &-header {

    }

    &-section {
      & .title {

      }

      &-category {
        // width: 66%;
        // margin: auto;
      }
    }
  }
}
