@import '../../scss/variables';

.MenuPage {
  &-container {
    // background-color: $primary;
  }

  &-header {
    // padding: 5rem 1rem;
    margin-top: 4rem;
    height: 200px;
    background-image: url(/assets/images/logo.png);
    background-color: $primary;
    background-repeat: no-repeat;
  }

  &-section {
    & .title {
      text-align: center;
      color: #fff;
      margin: 1rem;
      // padding: 1rem;
    }

    &-category {
      background-color: $secondary-light;
      color: $primary;

      & .title {
        color: $secondary;
        font-size: 2rem;
        text-align: left;
      }
    }
  }
}
